<% extend('./partials/base') %>

  <div class="container">
    <h1 class="mt-4">Tarkari Form</h1>
    <form action="/add_tarkari" method="POST" onsubmit="return validateForm()" enctype="multipart/form-data">
      <div class="row">
        <div class="col mb-3">
          <label for="tarkari1" class="form-label">Name:</label>
          <input type="text" class="form-control" id="tarkari1" name="product_name" required />
        </div>
      </div>
      <div class="row">
        <div class="col mb-3">
          <label for="description1" class="form-label">Description:</label>
          <input type="text" class="form-control" id="description1" name="description" required />
          <p id="description_err" class="errorpara"></p>
        </div>
      </div>
      <div class="row">
        <div class="col mb-3">
          <label for="rate1" class="form-label">Rate:</label>
          <input type="number" class="form-control" id="rate1" name="rate" required />
        </div>
      </div>
      <div class="row">
        <div class="form-group mb-3">
          <label for="image1">Image:</label>
          <input type="file" class="form-control" id="image1" name="vegImage" required/>
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Add</button>
    </form>
  </div>

  <script>
    function validateForm() {
      document.getElementById("description_err").innerHTML = "";
      const description = document.getElementById("description1").value;
      console.log(description.length)
      var min_error = false;

      //minlength error - should contain atleast 15 character
      if (description.length < 20) {
        console.log("Hi1")
        document.getElementById("description_err").innerHTML = "Description should have atleast contain 20 charracters!";
        min_error = true;
      }
      if( min_error == true ){
        console.log("Hi2")
        return false;
      }
    }
  </script>