<% extend('./partials/base') %>

<div class="container">
  <h1 class="mt-4">Home page</h1>
  <form class="d-flex mt-4">
    <input class="form-control me-2" type="search" placeholder="Search product" aria-label="Search">
    <button class="btn btn-outline-success" type="submit">Search</button>
  </form>
  <div class="row mt-4">
    <% products.forEach((item, index)=> { %>
      <div class="col col-6 mb-4">
        <div class="card">
          <div class="row">
            <div class="col">
              <div class="card-body">
                <h5 class="card-title">
                  <%= item.product_name %>
                </h5>
                <div class="card-subtitle text-muted mb-2">Rate: <%= item.rate %>
                </div>
                <div class="card-text">
                  <%= item.description %>
                </div>
                <a href="#" class="btn btn-primary">View</a>
              </div>
            </div>
            <div class="col">
              <img src="<%= item.image %>" alt="image" style="height:250px;width:250px;">
            </div>
          </div>
        </div>
      </div>
      <% }) %>
  </div>
  <br>
</div>