<% extend('./partials/base') %>

  <div class="container">
    <h1 class="mt-4">Login Credentials</h1>

    <form action="/login" method="POST" onsubmit="return clearAll();">
      <div class="mb-3">
        <label for="email1" class="form-label">Email address</label>
        <input type="email" class="form-control" id="email1" aria-describedby="emailHelp" name="email">
        <p id="email_err" class="errorpara"></p>
      </div>
      <div class="mb-3">
        <label for="password1" class="form-label">Password</label>
        <input type="password" class="form-control" id="password1" name="password">
        <p id="password_err" class="errorpara"></p>
      </div>
      <% if(msg != ""){ %>
        <p class="errorpara" id="msg"><%= msg  %></p>
      <% } %>
      <button type="submit" class="btn btn-primary">Log In</button>
      <a href="/register" class="ms-4">Don't have account? Register</a>
    </form>
  </div>


  <script>
    function clearAll() {
      var error_para = document.getElementsByClassName("errorpara");
      for (var error of error_para) {
        error.innerHTML = " ";
      };
      const x = validate();
      return x;
    }
    function validate(){
      const params = {
        email: document.getElementById("email1").value,
        password: document.getElementById("password1").value
      };

      let req_error = false;

      for (const property in params) {
        if (params[property] === "") {
          document.getElementById(property + "_err").innerHTML = property + " is required.";
          req_error = true;
        }
      }

      if(req_error == true){
        return false;
      }

    }
  </script>