<% extend('./partials/base') %>

  <div class="container">
    <h1 class="mt-4">Profile page</h1>
    <h5>User:<%= user.username %> </h5>
    <h5>Role:<%= user.role %> </h5>

    <div class="container">
    </div>
  </div>
