<% extend('./partials/base') %>

  <div class="container">
    <h1 class="mt-4 mb-4">Login Credentials</h1>

    <form action="/register" method="POST" onsubmit="return validateForm();">
      <div class="row">
        <div class="col mb-3">
          <label for="name1" class="form-label">User Name</label>
          <input type="text" class="form-control" id="name1" name="username">
          <p id="username_err" class="errorpara"></p>
        </div>
        <div class="col mb-3">
          <label for="address1" class="form-label">Address</label>
          <input type="text" class="form-control" id="address1" name="address">
          <p id="address_err" class="errorpara"></p>
        </div>
      </div>
      <div class="row">
        <div class="col mb-3">
          <label for="mobile1" class="form-label">Mobile Number</label>
          <input type="number" class="form-control" id="mobile1" name="mobile">
          <p id="mobile_err" class="errorpara"></p>
        </div>
        <div class="col mb-3">
          <label for="email1" class="form-label">Email address</label>
          <input type="email" class="form-control" id="email1" aria-describedby="emailHelp" name="email">
          <p id="email_err" class="errorpara"></p>
        </div>
      </div>
      <div class="row">
        <div class="col mb-3">
          <label for="password1" class="form-label">Password</label>
          <input type="password" class="form-control" id="password1" name="password">
          <p id="password_err" class="errorpara"></p>
        </div>
        <div class="col mb-3">
          <label for="cpassword1" class="form-label">Confirm Password</label>
          <input type="password" class="form-control" id="cpassword1" name="cpassword">
          <p id="cpassword_err" class="errorpara"></p>
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Rgister</button>
      <a href="/login" class="ms-4">Already have an account? Login</a>
      <div id="emailHelp" class="form-text">We'll never share your credentials with anyone else.</div>
    </form>
  </div>

  <script>
    function validateForm() {
      const params = {
        username: document.getElementById("name1").value,
        address: document.getElementById("address1").value,
        mobile: document.getElementById("mobile1").value,
        email: document.getElementById("email1").value,
        password: document.getElementById("password1").value,
        cpassword: document.getElementById("cpassword1").value,
      };

      let req_error = false;
      let min_error = false;
      let symbol_error = false;
      let phone_error = false;
      for (const property in params) {
        if (params[property] === "") {
          document.getElementById(property + "_err").innerHTML = property + " is required.";
          req_error = true;
        }
        else {
          // clear error paragraph
          document.getElementById(property + "_err").innerHTML = "";
          req_error = false;

          //minlength error - should contain atleast 5 character
          if ((property == "username" || property == "address") && params[property].length < 5) {
            if (property == "username") {
              document.getElementById(property + "_err").innerHTML = "Name should have atleast contain 5 charracters!";
              min_error = true;
            }
            else {
              document.getElementById(property + "_err").innerHTML = "Address should have atleast contain 5 charracters!";
              min_error = true;
            }
          }

          //number_&_specialcharater error - should not contain number_&_specialcharater.
          if (property == "username" && /[1234567890!@#$%^&*()_+\-=\[\]{};':"\\|,.<>\/?]+/.test(params[property])) {
            document.getElementById(property + "_err").innerHTML = "Symbol and Number are not valid inputs.";
            symbol_error = true;
          }

          //minlength error - phone should contain atleast 10 character
          if (property == "mobile" && params[property].length < 10) {
            document.getElementById(property + "_err").innerHTML = "Phone should have 10 numbers !";
            phone_error = true;
          }
        }
      }
      if(req_error == true || min_error == true || symbol_error == true || phone_error == true){
        return false;
      }
    }
  </script>